{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block body %}

<div class="d-flex align-items-center h-100">
    <div class="d-flex logoCC rounded-2 align-items-center ">
        <form method="post" action="{{ path('app_login') }}" class="mx-auto w-75">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for message in app.flashes %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endfor %}
            
            <h1 class="h3 font-weight-normal mb-4">Veuillez vous identifier</h1>
            
            <label for="username">Identifiant:</label>
            <input type="text"  name="username" id="username" class="form-control mt-2 mb-4" autocomplete="last_username" required autofocus>
            <label for="password">Mot de Passe:</label>
            <input type="password" name="password" id="password" class="form-control my-2" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}" 
            >
            {# <p><a href="{{path('app_forgot_password_request')}}">Mot de passe oublié?</a></p> #}
            <label>
                <input type="checkbox" name="_remember_me" >
                Se souvenir de moi
            </label>

            <button class="btn my-3 button ms-3" type="submit">
                Se connecter
            </button>
        </form>
    </div>
</div>

{% endblock %}